# Backend Environment Variables
PORT=5000

MONGO_URI=your_mongodb_connection_string

GROQ_API_KEY=your_groq_api_key


# Frontend Environment Variables
VITE_API_URL=your_backend_url

VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key